.component {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-height: 72px;
    background-color: #eee;

    .control {
        display: none;
        position: absolute;
        top: 6px;
        right: 6px;
    }

    &:hover>.control {
        display: block;
    }
}

.central-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px dashed #167ce9;
    padding: 10px;

    p {
        margin: 16px;
    }
}

.table td {
    vertical-align: middle !important;
}

.select2-container {
    width: 100% !important;
}

.menuList > li {
    width: '100%';
    margin-top: 10px;
    margin-bottom: 10px;

    .buttons {
        display: block;
        margin-left: 6px;
    }

    div > div.buttons {
        visibility: hidden;
    }
    div:hover > div.buttons {
        visibility: visible;
    }
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px 16px;
    line-height: 1.33;
    border-radius: 50%;
    font-size: 18px;

    .fa {
        font-size: 18px
    }
}
