.stroke-black {
  -webkit-text-stroke: 1px black;
}

.exit-fullscreen {
  color: transparent;
  z-index: 9999;

  &:hover {
    color: red;
  }
}

.cover-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;

  img {
    width: 100%;
    height: 100%;
  }
}
