doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{htmlWebpackPlugin.options.title}
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1')
        meta(content=htmlWebpackPlugin.options.keywords.toString())
        meta(content=htmlWebpackPlugin.options.description name='description')
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel='stylesheet')
        //link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Alex+Brush', rel='stylesheet')
        link(rel='stylesheet' href='/home/css/open-iconic-bootstrap.min.css')
        link(rel='stylesheet' href='/home/css/animate.css')
        link(rel='stylesheet' href='/home/css/owl.carousel.min.css')
        link(rel='stylesheet' href='/home/css/owl.theme.default.min.css')
        link(rel='stylesheet' href='/home/css/magnific-popup.css')
        link(rel='stylesheet' href='/home/css/aos.css')
        link(rel='stylesheet' href='/home/css/ionicons.min.css')
        link(rel='stylesheet' href='/home/css/bootstrap-datepicker.css')
        link(rel='stylesheet' href='/home/css/jquery.timepicker.css')
        link(rel='stylesheet' href='/home/css/flaticon.css')
        link(rel='stylesheet' href='/home/css/icomoon.css')
        //link(rel='stylesheet' href='/home/css/style.css')
        link(rel='stylesheet' href='/css/font-awesome.min.css')
    body
        #app
        script(src='/home/js/jquery.min.js')
        script(src='/home/js/jquery-migrate-3.0.1.min.js')
        script(src='/home/js/popper.min.js')
        script(src='/home/js/bootstrap.min.js')
        script(src='/home/js/jquery.easing.1.3.js')
        script(src='/home/js/jquery.waypoints.min.js')
        script(src='/home/js/jquery.stellar.min.js')
        script(src='/home/js/owl.carousel.min.js')
        script(src='/home/js/jquery.magnific-popup.min.js')
        script(src='/home/js/aos.js')
        script(src='/home/js/jquery.animateNumber.min.js')
        script(type='text/javascript' src='/home/js/jquery.fullscreen.min.js')
        script(src='/home/js/bootstrap-datepicker.js')
        script(type='text/javascript' src='/js/plugins/bootstrap-notify.min.js')
        script(src='/home/js/scrollax.min.js')
        script(type='text/javascript' src=htmlWebpackPlugin.files.chunks.home.entry)
        script(src='/home/js/main.js')
