head
  meta(http-equiv='Content-Type' content='text/html; charset=windows-1258')
center
  span(style='font-weight:bold;font-size:12pt;color:#15c;') K&#x1EBE;T QU&#x1EA2; X&#x1EBE;P LO&#xFFFD;&nbsp;I &Dstrok;&Aacute;NH GI&Aacute; VI&Ecirc;N CH&#x1EE8;C
table#ket-qua-danh-gia-table.border-table.padding-table(style='width:100%;')
  thead
    tr
      th SHCC
      th H&#x1ECD; v&#xFFFD;&nbsp; T&ecirc;n
      th T&ecirc;n khoa
      th T&ecirc;n b&#x1ED9; m&ocirc;n
      th Ch&#x1EE9;c v&#x1EE5;
      th H&#x1EC7; s&#x1ED1; TNTT (Ki)
      th Ch&#x1EE9;c v&#x1EE5; &dstrok;&#x1B0;&#x1EE3;c t&iacute;nh n&abreve;m 2019
      th T&#x1EF7; l&#x1EC7; &dstrok;&#x1ECB;nh m&#x1EE9;c
      th &Dstrok;&#x1ECB;nh m&#x1EE9;c NV1
      th &Dstrok;i&#x1EC3;m NV1
      th &Dstrok;&#x1ECB;nh m&#x1EE9;c NV2
      th &Dstrok;i&#x1EC3;m NV2
      th &Dstrok;&#x1ECB;nh m&#x1EE9;c NV3
      th &Dstrok;i&#x1EC3;m NV3
      th &Dstrok;i&#x1EC3;m chuy&ecirc;n m&ocirc;n
      th H&#x1EC7; s&#x1ED1; chuy&ecirc;n m&ocirc;n
      th &Dstrok;i&#x1EC3;m l&atilde;nh &dstrok;&#x1EA1;o
      th H&#x1EC7; s&#x1ED1; l&atilde;nh &dstrok;&#x1EA1;o
      th &Dstrok;i&#x1EC3;m th&#x1B0;&#x1EDF;ng
      th &Dstrok;i&#x1EC3;m tr&#x1EEB;
      th &Dstrok;i&#x1EC3;m t&#x1ED5;ng
      th K&#x1EBF;t qu&#x1EA3; &dstrok;&aacute;nh gi&aacute;, x&#x1EBF;p lo&#x1EA1;i n&abreve;m 2019
      th Ghi ch&uacute;
  tbody
    tr
      td #{shcc}
      td #{fullname}
      td #{facultyName}
      td #{departmentName}
      td(align='center') #{currentLeadershipName}
      td(align='center') #{additionalIncomeCoefficient}
      td(align='center') #{leadershipName}
      td(align='center') #{ratedRatio}
      td(align='center') #{quotaPoint1}
      td(align='center') #{professionalPoint1}
      td(align='center') #{quotaPoint2}
      td(align='center') #{professionalPoint2}
      td(align='center') #{quotaPoint3}
      td(align='center') #{professionalPoint3}
      td(align='center') #{professionalPoint}
      td(align='center') #{professionalCoefficient}
      td(align='center') #{leadershipPoint}
      td(align='center') #{leadershipCoefficient}
      td(align='center') #{rewardPoint}
      td(align='center') #{penaltyPoint}
      td(align='center')
        b(style='color:#15c;') #{point}
      td(align='center')
        b(style='color:#15c;') #{result}
      td #{note}
br
br
b(style='color:red;font-size:11pt;')
  | N&#x1EBF;u g&#x1EB7;p l&#x1ED7;i k&#x1EF9; thu&#x1EAD;t trong qu&aacute; tr&igrave;nh xem k&#x1EBF;t qu&#x1EA3;, vui l&ograve;ng li&ecirc;n h&#x1EC7; email: 
  span(style='color:#15c;') thanhtung@hcmut.edu.vn
script.
  $(document).ready(function () {
  $("#ket-qua-danh-gia-table").dataTable(
  {
  "bJQueryUI": false,
  "bStateSave": true,
  "bAutoWidth": false,
  "oLanguage": {
  "sUrl": "../datatable/media/language/vi_VI.txt"
  },
  "sPaginationType": "full_numbers",
  "bProcessing": true
  });
  });
#lbdictex_find_popup.lbexpopup.hidden(style='position: absolute; top: 0px; left: 0px;')
  .lbexpopup_top
    h2.fl.popup_title &nbsp;
    ul
      li
        a.close_main.popup_close(href='http://personel.hcmut.edu.vn/gv/front.php/kqdanhgia/index/index#') &nbsp;
    .clr
  .popup_details
  .popup_powered abc
#lbdictex_ask_mark.hidden(style='position: absolute; top: 0px; left: 0px;')
  a.lbdictex_ask_select(href='http://personel.hcmut.edu.vn/gv/front.php/kqdanhgia/index/index#') &nbsp;
